@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #606c38;  /* Earthy Green */
  --color-secondary: #283618; /* Dark Olive */
  --color-background: #fefae0; /* Soft Beige */
  --color-accent: #bc6c25; /* Rustic Brown */
  --color-highlight: #dda15e; /* Warm Gold */
}

#root{
  background-color: var(--color-background);
}

h1, h2, h3 {
  color: var(--color-secondary);
}

#card{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#name{
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: "Roboto", serif;
  font-weight: 500;
}

#balance{
  display: flex;
  align-items: center;
  justify-content: center;
}